body {
    background-color: #4F91CD; /* Set background color */
    color: #ffffff; /* Set text color */
    margin: 0; /* Remove default margins */
    height: 100vh; /* Full screen height */
    /* font-family: Arial, sans-serif; Set font */
}